
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">

    <div id="video-container">
      <video autoplay loop poster="{{ site.background-video }}" id="bgvid">
        <source src="{{ site.background-video }}" type="video/mp4">
      </video>
      <div id="video-overlay"></div>
    </div>

    <div class="intro-box">
      <span class="intro-text">{{ content }}</span>
      <a href="{{ config.img-me-link }}" class="page-scroll">
        <img class="img-me" src="{{site.baseurl}}{{ site.img-me }}" alt="">
      </a>
    </div>

  </div>
</header>

<!-- Intro End -->
