
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
        <h4>
          <a href="{{site.baseurl}}{{ post.url }}">//{{post.title}}</a>
          &nbsp;&nbsp;{{ post.date | date_to_string }}&nbsp;&nbsp;
          <small><a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small>
        </h4>

        <p>
        {{ post.excerpt | remove: '<p>' | remove: '</p>' }}<a href="{{site.baseurl}}{{ post.url }}">READ MORE&gt;&gt;</a>
        </p>

        <h5><a href="{{site.baseurl}}/blog/">View more posts</a></h5>

      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
