// Variables

$primary: #00cdff;
$dark: #111;
$light: #bbb;

$reading-font: -apple-system, ".SFNSText-Regular", "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
$code-font: Menlo, Monaco, Consolas, "Courier New", monospace;
$base-font-size: 18px;

$large-screen-width: 860px; // for better legibility on 992px+ wide screens

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $dark;
$intro-text-color: white;
$navbar-color: white;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $primary;
